* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

:root {
  --gold: #e8cc56;
  --blue: #192954;
  --milk: #f1efe1;
  --purple: #5928e5;
  scrollbar-width: thin;
  scrollbar-color: var(--blue) #fff;
}

:root::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

:root::-webkit-scrollbar-track {
  background: #fff;
}

:root::-webkit-scrollbar-thumb {
  background: var(--blue);
}

@media (any-hover: hover) {
  :root::-webkit-scrollbar-thumb:hover {
    background: #21346b;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: justify;
  color: #fff;
  font-size: 16px;
  background: var(--blue);
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 40px;
  padding-top: 300px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.test {
  text-align: center;
}

.test img {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 20px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.header._hide {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header._paint {
  background-color: var(--blue);
}

@media (max-width: 1024px) {
  .header {
    padding: 10px 20px;
  }
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 80px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  position: relative;
  z-index: 5;
}

.header__logo img {
  max-width: 100%;
}

@media (max-width: 1024px) {
  .header__logo {
    width: 50px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 1024px) {
  .header__burger {
    display: block;
    z-index: 5;
    position: relative;
    width: 30px;
    height: 18px;
  }
  .header__burger span, .header__burger:before, .header__burger:after {
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .header__burger:before, .header__burger:after {
    content: "";
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    -webkit-transform: scaleX(1) translate(0, -50%);
            transform: scaleX(1) translate(0, -50%);
  }
  .header__burger._active span {
    -webkit-transform: scaleX(0) translate(0, -50%);
            transform: scaleX(0) translate(0, -50%);
  }
  .header__burger._active:before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -70%);
            transform: rotate(-45deg) translate(0, -70%);
  }
  .header__burger._active:after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 70%);
            transform: rotate(45deg) translate(0, 70%);
  }
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 80px;
}

@media (max-width: 1024px) {
  .menu {
    margin-right: 0;
  }
}

@media (max-width: 1024px) {
  .menu__body {
    overflow: auto;
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(25, 41, 84, 0.95);
    padding: 100px 20px 40px 20px;
    -webkit-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
  }
  .menu__body:before {
    content: "";
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: var(--blue);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  .menu__body._active {
    right: 0;
  }
  .menu__body._active:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list > li {
  padding: 10px 0 3px 0;
  position: relative;
}

@media (min-width: 1025px) {
  .menu__list > li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    pointer-events: all;
  }
  .menu__list > li:hover .menu__arrow {
    -webkit-transform: translate(-50%, 0) rotate(180deg);
            transform: translate(-50%, 0) rotate(180deg);
  }
}

@media (max-width: 1024px) {
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__list > li._active .menu__arrow {
    -webkit-transform: translate(-100%, 0) rotate(180deg);
            transform: translate(-100%, 0) rotate(180deg);
  }
}

@media (max-width: 1024px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu__list > li:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}

.menu__link {
  font-weight: 800;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  display: inline-block;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link:hover {
  color: var(--gold);
}

@media (max-width: 1024px) {
  .menu__link {
    font-size: 24px;
    padding: 10px 0 15px 0;
  }
}

.menu__arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0) rotate(0deg);
          transform: translate(-50%, 0) rotate(0deg);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1024px) {
  .menu__arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    -webkit-transform: translate(-100%, 0) rotate(0deg);
            transform: translate(-100%, 0) rotate(0deg);
    left: 100%;
    bottom: unset;
    top: 30px;
  }
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 50px);
          transform: translate(-50%, 50px);
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 0;
  min-width: 200px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1024px) {
  .menu__sub-list {
    display: none;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.menu__sub-link {
  font-weight: 500;
  font-size: 16px;
  display: block;
  padding: 10px 20px;
  color: var(--blue);
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

@media (any-hover: hover) {
  .menu__sub-link:hover {
    background-color: #dfe7ff;
  }
}

@media (max-width: 1024px) {
  .menu__sub-link {
    font-size: 20px;
  }
}
