.common {
	margin-bottom: -150px;
	@media (max-width:767px) {
		margin-bottom: -90px;
	}

	&__heading {
		color: var(--purple);
		margin: 0 auto 40px 0;
		text-align: left;
	}

	&__text {
		padding: 0;
		text-align: right;
		margin: 0 0 40px auto;
		max-width: 600px;
	}

	&__mission{
		display: block;
		margin-bottom: 50px;
	}

	.video{
		padding: 0 0 60% 0;
		@media (max-width:767px) {
			width: 100%;
			margin-top: 0;
		}
		@media (max-width:600px) {
			padding: 0 0 70% 0;
		}
	}
}
