.common {
	margin-bottom: -150px;
	@media (max-width:767px) {
		margin-bottom: -90px;
	}
	&__info {
	}

	&__heading {
		color: var(--purple);
		margin: 0 0 40px auto;
		text-align: right;
	}

	&__text {
		padding: 0;
		text-align: left;
		margin-bottom: 40px;
		max-width: 600px;
	}

	.video{
		@media (max-width:767px) {
			width: 100%;
			margin-top: 0;
		}
		@media (max-width:600px) {
			padding: 0 0 70% 0;
		}
	}
}
