.form {
	background-image: radial-gradient(circle, #5928e5 0%, var(--blue));
	box-shadow: 10px 10px 50px var(--purple);
	padding: 40px;
	max-width: 900px;
	margin: 0 auto;
	border-radius: 5px;
	position: relative;
	&._sending{
		.form__spinner{
			opacity: 1;
			visibility: visible;
		}
	}
	@media (max-width: 767px) {
		padding: 40px 20px;
	}
	@media (max-width: 500px) {
		margin: 0 -20px;
	}

	&__spinner {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		background: rgba(255, 255, 255, 0.95);
		transition: all 0.3s ease 0s;
		opacity: 0;
		visibility: hidden;
		box-shadow: 10px 10px 50px #fff;
	}

	&__inputs {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
	}

	&__input-wrap {
		flex: 0 0 33.333%;
		padding: 10px;
		&:last-child {
			flex: 0 0 100%;
		}
		@media (max-width: 1024px) {
			flex: 0 0 100%;
		}
		textarea.form__input {
			resize: vertical;
			min-height: 100px;
			overflow-x: hidden;
			overflow-y: auto;
		}
	}

	&__input {
		padding: 15px;
		font-size: 16px;
		width: 100%;
		transition: box-shadow 0.5s ease 0s, border-color 0.3s ease 0s;
		border-radius: 5px;
		border: 1px solid transparent;
		&::placeholder {
			color: var(--purple);
			font-weight: 600;
			transition: transform 0.5s ease 0s, color 0.3s ease 0s;
			transform: translate(0, 0);
		}
		&:focus,
		&:hover {
			box-shadow: inset 0 0 10px var(--purple);
		}
		&:focus {
			&::placeholder {
				transform: translate(300%, 0);
			}
		}
		&._error {
			border: 1px solid rgb(255, 0, 0);
			background-color: var(--pink);
			&::placeholder {
				color: rgb(255, 0, 0);
			}
		}
	}

	&__alert {
		transition: all 0.3s ease 0s;
		padding: 10px;
		border-radius: 5px;
		text-align: center;
		margin-bottom: 10px;
		border: 1px solid rgb(255, 0, 0);
		font-weight: 400;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		color: rgb(255, 0, 0);
		background-color: var(--pink);
		&._error {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}
	}

	&__button-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__btn {
		@media (max-width: 500px) {
			width: 100%;
		}
	}
}
.checkbox {
	margin-bottom: 30px;
	&._error {
		.checkbox__label {
			&:before {
				border: 1px solid rgb(255, 0, 0);
				background-color: var(--pink);
			}
		}
	}
	&__input {
		display: none;
		&:checked + .checkbox__label {
			&:after {
				transform: scale(1);
			}
		}
	}

	&__label {
		font-size: 16px;
		color: #fff;
		font-weight: 400;
		line-height: 150%;
		display: inline-flex;
		align-items: center;
		position: relative;
		width: 100%;
		&:before {
			content: "";
			align-self: flex-start;
			margin-right: 10px;
			flex: 0 0 24px;
			height: 24px;
			background-color: #fff;
			border-radius: 5px;
			border: 1px solid transparent;
			transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
		}
		&:after {
			content: "";
			position: absolute;
			width: 16px;
			height: 16px;
			top: 4px;
			left: 4px;
			background-color: var(--purple);
			border-radius: 5px;
			transform: scale(0);
			transition: transform 0.3s ease 0s;
		}
		a {
			color: #fff;
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
