.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	padding: 20px;
	&__body {
		display: flex;
		align-items: center;
	}

	&__logo {
		width: 80px;
		flex: 0 0 80px;
		img {
			max-width: 100%;
		}
	}

	&__menu {
	}

	&__burger {
		display: none;
	}
}
.menu {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	margin-right: 80px;
	&__body {
	}

	&__list {
		display: flex;
		& > li {
			padding: 10px 0 3px 0;
			position: relative;
			@media (any-hover: hover) {
				&:hover {
					.menu__sub-list {
						opacity: 1;
						visibility: visible;
						transform: translate(-50%, 0);
						pointer-events: all;
					}
					.menu__arrow {
						transform: translate(-50%, 0) rotate(180deg);
					}
				}
			}
		}
	}

	&__link {
		flex: 1 1 auto;
		color: #fff;
		font-size: 18px;
		padding: 10px 20px;
		display: inline-block;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: var(--gold);
			}
		}
	}

	&__arrow {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0) rotate(0deg);
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #fff;
		transition: all 0.3s ease 0s;
	}

	&__sub-list {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, 50px);
		background-color: #fff;
		padding: 10px 0;
		min-width: 200px;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s ease 0s;
	}

	&__sub-link {
		font-weight: 500;
		font-size: 16px;
		display: block;
		padding: 10px 20px;
		color: var(--blue);
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #dfe7ff;
			}
		}
	}
}
