.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	padding: 10px 20px;
	transform: translateY(0);
	transition: all 0.8s ease 0s;
	box-shadow: 2px 2px 2px 0 #4b1bcf80;
	&._hide {
		transform: translateY(-100%);
		box-shadow: 0px 0px 0px 0 rgba(89, 40, 229, 0.5);
	}
	&._paint {
		background-color: #fff;
		@media (min-width: 1025px) {
			.menu__link {
				color: var(--purple);
				@media (any-hover: hover) {
					&:hover {
						color: var(--gold);
					}
				}
			}
			.menu__arrow {
				border-top: 5px solid var(--purple);
				@media (max-width: 1024px) {
					border-top: 10px solid var(--purple);
				}
			}
		}
		@media (max-width:1024px) {
			.header__burger {
				span,
				&:before,
				&:after {
					background-color: var(--purple);
				}
			}
		}
	}
	@media (max-width: 1024px) {
		padding: 10px 20px;
	}
	&__body {
		display: flex;
		align-items: center;
	}

	&__logo {
		width: 60px;
		flex: 0 0 60px;
		position: relative;
		z-index: 5;
		img {
			max-width: 100%;
		}
		@media (max-width: 1024px) {
			width: 40px;
			flex: 0 0 40px;
		}
	}

	&__burger {
		display: none;
		@media (max-width: 1024px) {
			display: block;
			z-index: 5;
			position: relative;
			width: 30px;
			height: 18px;
			span,
			&:before,
			&:after {
				position: absolute;
				left: 0;
				height: 3px;
				width: 100%;
				transition: all 0.3s ease 0s;
				background-color: #fff;
			}
			&:before,
			&:after {
				content: "";
			}
			&:before {
				top: 0;
			}
			&:after {
				bottom: 0;
			}
			span {
				top: 50%;
				transform: scaleX(1) translate(0, -50%);
			}
			&._active {
				span {
					background-color: var(--purple);
					transform: scaleX(0) translate(0, -50%);
				}
				&:before {
					background-color: var(--purple);
					top: 50%;
					transform: rotate(-45deg) translate(0, -70%);
				}
				&:after {
					background-color: var(--purple);
					bottom: 50%;
					transform: rotate(45deg) translate(0, 70%);
				}
			}
		}
	}
}
.menu {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	margin-right: 80px;
	@media (max-width: 1024px) {
		margin-right: 0;
	}

	&__body {
		@media (max-width: 1024px) {
			overflow: auto;
			position: fixed;
			right: -100%;
			top: 0;
			width: 100%;
			height: 100vh;
			background-color: rgba(#4b1bcf, 0.8);
			padding: 100px 20px 40px 20px;
			transition: right 0.3s ease 0s;
			&:before {
				content: "";
				position: fixed;
				z-index: 5;
				top: 0;
				left: 0;
				height: 60px;
				width: 100%;
				background: #fff;
				transition: transform 0.3s ease 0s;
				transform: scaleX(0);
				transform-origin: right;
			}
			&._active {
				right: 0;
				&:before {
					transform: scaleX(1);
				}
			}
		}
	}

	&__list {
		display: flex;
		& > li {
			padding: 3px 0;
			position: relative;
			@media (min-width: 1025px) {
				&:hover {
					.menu__sub-list {
						opacity: 1;
						visibility: visible;
						transform: translate(-50%, 0);
						pointer-events: all;
					}
					.menu__arrow {
						transform: translate(-50%, 0) rotate(180deg);
						border-top: 5px solid var(--gold);
					}
				}
			}
			@media (max-width: 1024px) {
				&._active {
					.menu__sub-list {
						display: block;
					}
					.menu__arrow {
						transform: translate(-100%, 0) rotate(180deg);
					}
				}
			}
		}
		@media (max-width: 1024px) {
			flex-direction: column;
			display: flex;
			flex-wrap: wrap;
			& > li {
				&:not(:last-child) {
					margin: 0px 0px 30px 0px;
				}
			}
		}
	}

	&__link {
		font-weight: 600;
		flex: 1 1 auto;
		color: #fff;
		font-size: 18px;
		padding: 10px 20px;
		display: inline-block;
		transition: color 0.3s ease 0s;
		&:hover {
			color: var(--gold);
		}
		@media (max-width: 1024px) {
			font-size: 24px;
			padding: 10px 0 15px 0;
		}
	}

	&__arrow {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0) rotate(0deg);
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #fff;
		transition: all 0.3s ease 0s;
		@media (max-width: 1024px) {
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #fff;
			transform: translate(-100%, 0) rotate(0deg);
			left: 100%;
			bottom: unset;
			top: 30px;
		}
	}

	&__sub-list {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, 50px);
		background-color: #fff;
		border-radius: 5px;
		padding: 10px 0;
		min-width: 200px;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s ease 0s;
		@media (min-width: 1025px) {
			box-shadow: 5px 15px 34px 0 rgba(89, 40, 229, 0.5);
		}
		@media (max-width: 1024px) {
			display: none;
			position: relative;
			flex: 1 1 100%;
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			top: 0;
			left: 0;
			transform: translate(0, 0);
		}
	}

	&__sub-link {
		font-weight: 500;
		font-size: 16px;
		display: block;
		padding: 10px 20px;
		color: var(--blue);
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #dfe7ff;
			}
		}
		@media (max-width: 1024px) {
			font-size: 20px;
		}
	}
}
