.mainscreen {
	background-image: radial-gradient(circle, #5928e5 0%, var(--blue));
	min-height: 100vh;
	padding: 150px 0px 50px 0px;
	@media (max-width:767px) {
		padding-top: 100px;
	}
	&__body {
		text-align: center;
	}

	&__title{
		margin-bottom: 50px;
		text-transform: uppercase;
		@media (max-width:767px) {
			margin-bottom: 30px;
		}
	}

	&__btn {
		margin-bottom: 50px;
	}

	&__image{
		text-align: center;
		img{
			width: 100%;
			max-width: 280px;
		}
	}
}


