.slider {
	max-width: 500px;
	@media (max-width:992px) {
		max-width: 400px;
	}
	@media (max-width:767px) {
		max-width: 300px;
	}
	@media (max-width:550px) {
		max-width: 250px;
	}
	@media (max-width:480px) {
		max-width: 200px;
	}
	@media (max-width:375px) {
		max-width: 170px;
	}
	&__wrapper {
	}

	&__slide {
	}

	&__image {
		text-align: center;
		overflow: hidden;
		position: relative;
		display: inline-block;
		padding: 0 0 100% 0;
		width: 100%;
		border-radius: 10px;
		img {
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
		@media (max-width:767px) {
			padding: 0 0 150% 0;
		}
	}
}