// Technical files
@import "_nullstyle";
@import "_socials";

// Common styles
:root {
	// Variables
	--gold: #e8cc56;
	--blue: #192954;
	--milk: #f1efe1;
	--purple: #4b1bcf;
	--cyan: #0065f2;
	--pink: #ffdde5;
	--green: #bcff00;
	// Properties
	scrollbar-width: thin;
	scrollbar-color: var(--purple) #fff;
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	&::-webkit-scrollbar-track {
		background: #fff;
	}
	&::-webkit-scrollbar-thumb {
		background: var(--purple);
		@media (any-hover: hover) {
			&:hover {
				background: #6c3eeb;
			}
		}
	}
	::selection{
		background-color: rgba(#bcff00, 0.8);
		color: var(--purple);
	}
}
body {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	font-size: 16px;
	overflow-x: hidden;
	overflow-y: auto;
	&._lock {
		overflow: hidden;
	}
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main {
	flex: 1 1 auto;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
.title {
	color: #fff;
	font-size: 100px;
	line-height: 100%;
	font-weight: 900;
	letter-spacing: -0.2rem;
	line-height: 0.85em;
	@media (max-width: 1024px) {
		font-size: 70px;
	}
	@media (max-width: 767px) {
		font-size: 50px;
		line-height: 130%;
		letter-spacing: 0;
	}
	@media (max-width: 500px) {
		font-size: 40px;
	}
	@media (max-width: 375px) {
		font-size: 30px;
	}
}
.subtitle {
	color: var(--purple);
	font-size: 40px;
	line-height: 0.9em;
	font-weight: 900;
	letter-spacing: -0.02em;
	margin: 20px 0;
	text-transform: uppercase;
	@media (max-width: 767px) {
		font-size: 30px;
	}
	@media (max-width:500px) {
		font-size: 26px;
	}
}
.heading {
	color: #fff;
	font-size: 34px;
	font-weight: 900;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	max-width: 600px;
	margin: 30px auto 80px auto;
	&.heading--purple{
		color: var(--purple);
	}
	@media (max-width:767px) {
		font-size: 30px;
		margin: 30px auto 40px auto;
	}
}
.caption {
	font-size: 30px;
	font-weight: 900;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	@media (max-width:767px) {
		font-size: 26px;
	}
}
.text {
	font-size: 18px;
	line-height: 27px;
	font-weight: 300;
	padding: 50px 0px;
	@media (max-width: 767px) {
		padding: 20px 0 50px 0;
	}
}
.btn {
	padding: 20px 40px;
	background-color: transparent;
	border: 1px solid transparent;
	color: var(--purple);
	font-weight: 800;
	display: inline-block;
	transition: all 0.5s ease 0s;
	font-size: 16px;
}
.btn--white {
	background-color: #fff;
	@media (any-hover: hover) {
		&:hover {
			color: #fff;
			background-color: transparent;
			border: 1px solid #fff;
		}
	}
}
.btn--pink {
	border: 1px solid var(--pink);
	color: var(--pink);
	@media (any-hover: hover) {
		&:hover {
			background: var(--purple);
			color: #fff;
		}
	}
}
.load-wrap{
	text-align: center;
	margin-top: 40px;
	.load-link{
		color: var(--purple);
			font-weight: 900;
			text-transform: uppercase;
			letter-spacing: 3px;
			font-size: 20px;
			transition: color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					color: var(--gold);
				}
			}
	}
}

// Cursor
#cursor,
#aura {
	display: none;
	@media (min-width: 1025px) {
		display: block;
		position: absolute;
		border-radius: 100%;
		transition: transform 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) 0s,
			opacity 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) 0s;
		user-select: none;
		pointer-events: none;
		z-index: 10000;
	}
}
#cursor {
	width: 8px;
	height: 8px;
	background-image: radial-gradient(circle, #5928e5 0%, var(--blue));
	opacity: 1;
	transform: scale(1);
	&._hidden {
		transform: scale(0.001);
	}
	&._active {
		opacity: 0;
		transform: scale(0);
	}
}
#aura {
	width: 46px;
	height: 46px;
	border: 1px solid rgba(#192954, 0.4);
	background-image: radial-gradient(circle, #c2acff 0%, #4f7eff);
	opacity: 0.6;
	transform: translate(5px, 5px);
	transform: scale(1);
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: 30px;
		position: relative;
		left: 2px;
		opacity: 0;
		transition: opacity 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) 0s;
	}
	&._hidden {
		transform: scale(0.001);
	}
	&._active {
		border: 1px solid rgba(#192954, 0.2);
		transform: scale(1.5);
		opacity: 0.4;
	}
	&._play {
		opacity: 1;
		img {
			opacity: 1;
		}
	}
}
* {
	cursor: none;
}
.cursor-part {
	@media (max-width: 1024px) {
		display: none !important;
	}
}

// Spinner
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid var(--purple);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}


// Components
@import "_header";
@import "_mainscreen";
@import "_block";
@import "_activities";
@import "_common";
@import "_footer";
@import "_form";
@import "_privacy";
@import "_bar";
@import "_gallery";
@import "_album";
@import "_masters";
